body {
    margin: 0;
  }
  
  .container {
    background-color: #78fc31;
    padding: 1rem;
    margin-top: 1rem;
    border: 1pc;
  }
  
  .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }
  
.button{
    padding: 10px;
}